nav {align-items: center;
    margin-left: 10px;
    margin-top: 10px;
    height: 100px;
    display: flex;
    color: #f1f1f1;
}

#img1{ border-radius: 50px; border-color: #f1f1f1; border: 2px solid;}

a{text-decoration: none;}

#Cybromgames{ font-size: 50px; color:white; margin-left: 10px;}
#Login{ font-size:30px; color: white; margin-left: 300px;}
#aboutus{ font-size:30px; color: white; margin-left: 20px;}
#Contactus{ font-size:30px;color: white;margin-left: 20px;}
#privacy{ font-size:30px; color: white; margin-left: 20px;margin-right: 100px;}

 






table {width: 100vh; margin-left: 50px;border-spacing: 50px;}

#rugbyVideo{width: 400px; border-radius: 10px;  }
#footballVideo{width: 400px;border-radius: 10px; }
#hockeyVideo{width: 400px;border-radius: 10px; }
#CricketVideo{width: 400px;border-radius: 10px; }
#IcehockeyVideo{width: 400px;border-radius: 10px; }
#KabbadiVideo{width: 400px;border-radius: 10px; }
#BasketballVideo{width: 400px;border-radius: 10px; }
#ValleyballVideo{width: 400px;border-radius: 10px; }
#HandballVideo{width: 400px;border-radius: 10px; }

#td4{margin-top: 40px;}


button {
    background-color: rgba(0, 0, 0, 0.719);
    border: 2px solid white;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
button:hover {
    background-color:black;
    color: white;
  }
#btn1{ width: 400px; border-radius: 9px;}
#btn2{width: 400px; border-radius: 9px;}
#btn3{width: 400px; border-radius: 9px;}
#btn4{ width: 400px; border-radius: 9px;}
#btn5{width: 400px; border-radius: 9px;}
#btn6{width: 400px; border-radius: 9px;}
#btn7{ width: 400px; border-radius: 9px;}
#btn8{width: 400px; border-radius: 9px;}
#btn9{width: 400px; border-radius: 9px;}


body{
    background-image: url("jesse-orrico-mse1vdzZXjA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#mar{
    font-size: 30px;
    border: 2px solid white;
    width: 50%;
    margin-left: 340px;
    color: white;
    border-radius: 10px;
    background-color: rgba(28, 25, 25, 0.427);
    }