#Games{font-size:30px;
    color: white;
 margin-left: 20px; }
 
 nav {
    /* position: fixed; */
    align-items: center;
    margin-left: 10px;
    margin-top: 40px;
    display: flex;
    color: #f1f1f1;
}
#img1{
    border-radius: 50px;
    border-color: #f1f1f1;
    border: 2px solid;
}
a{text-decoration: none;}

#Cybromgames{ font-size: 50px; color:white; margin-left: 10px;}
#Login{ font-size:30px; color: white; margin-left: 300px;}
#aboutus{ font-size:30px;
    color: white;
 margin-left: 20px;}

#Contactus{ font-size:30px;
    color: white;
 margin-left: 20px;}

#privacy{ font-size:30px;
    color: white;
 margin-left: 20px;
margin-right: 100px;}


body{
    background-image: url("footballbg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}



/* section two */

#div1{
    margin-left: 200px;
}


button:hover {
 background-color:black;
 color: white;
}

.btn{width: 200px; border-radius: 9px;
    background-color: rgba(0, 0, 0, 0.719);
    border: 2px solid white;
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 40px;
    text-align: center;}


/* section third */

#div2{
    margin-left: 200px;
    
}

#btn6{
    width: 1030px;
}


/* section fourth */

#div3{
    margin-top: 10px;
    display: flex;
    margin-left: 20px;
background-color: none;
}

#img2{
    width:500px;
    height: 400px;
   border-radius: 10px;
   
}
#p2{
   color: #f1f1f1;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.719);
    margin-left: 10px;
   padding: 10px;
   border-radius: 10px;  
}
strong{
    font-size: 20px;
}


/* section fifth */

#div4{
    margin-top: 10px;
    display: flex;
    margin-left: 20px;
background-color: none;
}

#img3{
    width:500px;
    height: 400px;
   border-radius: 10px;
   
}
#p4{
   color: #f1f1f1;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.719);
    margin-left: 10px;
   padding: 10px;
   border-radius: 10px;  
}